<ul class="chat-actions">
    <li class="item">
        <img
            class="icon"
            src="{{ icnAddUser }}"
        >
        <div>Добавить пользователя</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="{{ icnDeleteUser }}"
        >
        <div>Удалить пользователя</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="{{ icnDeleteChat }}"
        >
        <div>Удалить чат</div>
    </li>
</ul>
