<div class="login-page">
    <form class="form log">
        <div class="head">
            <div class="name">Вход</div>
            <div class="inputs">
                <div class="tip">Логин</div>
                {{{ inputLogin }}}
                <div class="error">Неверный логин</div>

                <div class="tip">Пароль</div>
                {{{ inputPassword }}}
                <div class="error">Парот введен неправильно</div>
            </div>
        </div>
        <div class="footer">
            {{{ button }}}
            <a href="login-reg.hbs">
                <div class="ask">Нет аккаунта?</div>
            </a>
        </div>
    </form>
</div>
