.login-page {

    height: 100%;
    width: 100%;
    background-color: #1b2121;
    display: flex;
    align-items: center;
    justify-content: center;

    .reg {
        height: 615px;
    }

    .log {
        height: 450px;
    }

    .form {
        width: 340px;
        left: 470px;
        top: 135px;
        background: #222226;
        border-radius: 12px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .head {
            width: 100%;
            display: flex;
            flex-flow: column;
            color: #e5e5e5;
            align-items: center;
            margin-top: 50px;

            .name {
                font-size: 20px;
                margin-bottom: 40px;
            }
            
            .inputs {
                width: 280px;

                .tip {
                    font-size: 9px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
    
                .error {
                    font-size: 9px;
                    margin-bottom: 5px;
                    color: #ff2f2f;
                    display: none;
                }
                
                .inner {
                    padding: 0px;
                    outline: none;
                    display: block;
                    width: 100%;
                    border: 0px;
                    font-size: 14px;
                    padding-bottom: 5px;
                    box-sizing: border-box;
                    background: #222226;
                    color: #e5e5e5;
                    border-bottom: 1px solid #4193fb;
                    margin-bottom: 5px;
                }

                input:not(:focus):not(:placeholder-shown):invalid + .error {
                    display: block;
                }
            }

        }

        .footer {
            
            display: flex;
            align-items: center;
            flex-flow: column;
            padding-bottom: 30px;

            .btn {
                background: #4193fb;
                border-radius: 8px;
                border: none;
                width: 280px;
                height: 37px;
                margin-bottom: 14px;
                color: #e5e5e5;
            }

            .ask {
                font-size: 11px;
                color: #4193fb;
            }
        }
    }
}
