<div class="message-head-left-block">
    <img
        class="message-head-avatar"
        src="../../static/avatar2.png"
    >
    <div>Веган-кафе "Фрик"</div>
</div>
<div class="chat-tools">
    <img
        src="../../static/chat-tools.svg"
    >
</div>