.message-head-avatar {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: auto;
    background-color: #495057;
    margin-right: 10px;
}

.message-head-left-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 14px;
}

.chat-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}