.back-panel {
    position: absolute;
    height: 100%;
    width: 64px;
    background: var(--dark-back);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hide-popup {
    visibility: hidden;
}

.popup-background {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;                    
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup-changer {
        position: absolute;
        width: 340px;
        height: 257px;
        background: var(--dark-back);
        border-radius: 12px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 15px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        color: var(--light-grey);
        input[type="file"] {
            display: none;
        }

        .btn {
            background: var(--blue);
            border-radius: 8px;
            border: none;
            width: 280px;
            height: 37px;
            margin-bottom: 14px;
            color: var(--light-grey);
        }

        .file {
            cursor: pointer;
            color:  var(--blue)
        }
    }    
}

.profile-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--dark-brown);
    display: flex;
    align-items: center;
    justify-content: center; 

    .form {
        width: 510px;
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .content {
            width: 100%;
            display: flex;
            flex-flow: column;
            color: var(--light-grey);
            align-items: center;
            margin-top: 60px;

            .avatar {
                border-radius: 50%;
                width: 130px;
                height: 130px;
            }

            .image {
                object-fit: cover;
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }

            .name {
                color: var(--blue);
                font-size: 16px;
                margin-bottom: 60px;
            }
            
            .shows {
                width: 100%;

                .field {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--light-grey);
                    box-shadow: none;
                    padding-bottom: 10px;
                    margin-bottom: 10px;

                    .tip {
                        font-size: 14px;
                    }
                    
                    .inner {
                        font-size: 14px;
                    }
                }

                margin-bottom: 60px;
            }

            .btn {
                background: var(--blue);
                border-radius: 8px;
                border: none;
                width: 280px;
                height: 37px;
                margin-bottom: 14px;
                color: var(--light-grey);
            }

            .changer {
                width: 100%;
                display: flex;
                color: var(--blue);
                font-size: 14px;
                border-bottom: 1px solid var(--light-grey);
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .exit {
                width: 100%;
                display: flex;
                color: var(--error);
                font-size: 14px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
