<div>
    <a href="index.html">
        <div class="back-panel">
            <img src="{{ backPanel }}">
        </div>
    </a>

    <div class="profile-page">
        <div class="form">
            <div class="content">
                <div class="avatar">
                    <img src="{{ memoji }}">
                </div>
                <div class="name">Игорь</div>

                <div class="shows">
                    <div class="field">
                        <div class="tip">Почта</div>
                        <div class="inner">igor@ya.ru</div>
                    </div>
                    <div class="field">
                        <div class="tip">Логин</div>
                        <div class="inner">harry</div>
                    </div>
                    <div class="field">
                        <div class="tip">Имя</div>
                        <div class="inner">Игорь</div>
                    </div>
                    <div class="field">
                        <div class="tip">Фамилия</div>
                        <div class="inner">Поляков</div>
                    </div>
                    <div class="field">
                        <div class="tip">Телефон</div>
                        <div class="inner">+79310001122</div>
                    </div>
                </div>
                <div class="changer">
                    <a href="profile-changer.hbs">
                        <div>Изменить данные</div>
                    </a>
                </div>
                <div class="changer">
                    <a href="profile-password.hbs">
                        <div>Изменить пароль</div>
                    </a>
                </div>
                <div class="exit">
                    <div>Выйти</div>
                </div>
            </div>
        </div>
    </div>
</div>
