<div>
    {{{ linkToMessanger }}}
    <div class="profile-page">
        <div class="form">
            <div class="content">
                <div class="avatar">
                    <img src="{{ memoji }}">
                </div>
                <div class="name">Игорь</div>

                <div class="shows">
                    <div class="field">
                        <div class="tip">Почта</div>
                        <div class="inner">igor@ya.ru</div>
                    </div>
                    <div class="field">
                        <div class="tip">Логин</div>
                        <div class="inner">harry</div>
                    </div>
                    <div class="field">
                        <div class="tip">Имя</div>
                        <div class="inner">Игорь</div>
                    </div>
                    <div class="field">
                        <div class="tip">Фамилия</div>
                        <div class="inner">Поляков</div>
                    </div>
                    <div class="field">
                        <div class="tip">Телефон</div>
                        <div class="inner">+79310001122</div>
                    </div>
                </div>
                {{{ linkChangeProfile }}}
                {{{ linkChangePassword }}}
                <div class="exit">
                    <div>Выйти</div>
                </div>
            </div>
        </div>
    </div>
</div>
