<div class="messages-head">
    <div class="message-head-left-block">
        <img class="avatar" src="{{ avatarLink }}">
        <div>{{ actualChat.title }}</div>
    </div>
    {{{ chatActionsComponent }}}
</div>
