<div class="message-actions">
    <div class="message-actions-item">
        <img
            class="message-actions-icon"
            src="../../static/add-image.svg"
        >
        <div>Фото или Видео</div>
    </div>
    <div class="message-actions-item">
        <img
            class="message-actions-icon"
            src="../../static/add-file.svg"
        >
        <div>Файл</div>
    </div>
    <div class="message-actions-item">
        <img
            class="message-actions-icon"
            src="../../static/add-location.svg"
        >
        <div>Локация</div>
    </div>
</div>