<div class="chat-actions">
    <div class="chat-actions-item">
        <img
            class="chat-actions-icon"
            src="../../static/icn_add_user.svg"
        >
        <div>Добавить пользователя</div>
    </div>
    <div class="chat-actions-item">
        <img
            class="chat-actions-icon"
            src="../../static/icn_delete_chat.svg"
        >
        <div>Удалить пользователя</div>
    </div>
    <div class="chat-actions-item">
        <img
            class="chat-actions-icon"
            src="../../static/icn_delete_chat.svg"
        >
        <div>Удалить чат</div>
    </div>
</div>