<ul class="chat-actions">
    <li class="item">
        <img
            class="icon"
            src="../../static/icn_add_user.svg"
        >
        <div>Добавить пользователя</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="../../static/icn_delete_user.svg"
        >
        <div>Удалить пользователя</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="../../static/icn_delete_chat.svg"
        >
        <div>Удалить чат</div>
    </li>
</ul>
