{{!< main}}

<div class="separate">

    <div class="chat-sector">
        <div class="chat-head">
            {{> "chats-head/chats-head"}}
        </div>
        <div class="chat-list">
            <a href="index-selected.hbs">
                    {{> "chats/chats"}}
            </a>
        </div>
    </div>
    <div class="message-sector">
        <div class="not-selected">
            <div>Выберите чат, чтобы отправить сообщение</div>
        </div>
    </div>

</div>