{{!< main}}

<div class="login-page">
    <div class="form reg">
        <div class="head">
            <div class="name">Регистрация</div>
            <div class="inputs">
                <div class="tip">Почта</div>
                <div class="inner">ivan@ya.ru</div>
                <div class="error"></div>
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
                <div class="error"></div>
                <div class="tip">Имя</div>
                <div class="inner">Иван</div>
                <div class="error"></div>
                <div class="tip">Фамилия</div>
                <div class="inner">Иванов</div>
                <div class="error"></div>
                <div class="tip">Телефон</div>
                <div class="inner">+70000000000</div>
                <div class="error">Укажите верный номер</div>
                <div class="tip">Пароль</div>
                <div class="inner">••••••••••••</div>
                <div class="error"></div>
                <div class="tip">Пароль (еще раз)</div>
                <div class="inner">••••••••••••</div>
                <div class="error">Пароли не совпадают</div>
            </div>
        </div>
        <div class="footer">
            <a href="index.hbs">
                <button class="btn">Зарегистрироваться</button>
            </a>
            <a href="login.hbs">
                <div class="ask">Войти</div>
            </a>
        </div>
    </div>
</div>