{{!< main}}

<div class="login-page">
    <div class="form">
        <div class="head">
            <div class="name">Вход</div>
            <div class="inputs">
                <div class="tip">Логин</div>
                <input class="inner" type="text" name="name" minlength="4" maxlength="12">
                <div>Пароль</div>
            </div>
        </div>
        <div class="footer">
            <button>Авторизоваться</button>
            <div>Нет аккаунта?</div>
        </div>
    </div>
</div>