{{!< main}}

<div class="login-page">
    <div class="form">
        <div class="head">
            <div class="name">Регистрация</div>
            <div class="inputs">
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
            </div>
        </div>
        <div class="footer">
            <button class="btn">Авторизоваться</button>
            <div class="ask">Нет аккаунта?</div>
        </div>
    </div>
</div>