{{!< main}}

<div class="error-page">
    <div class="number">404</div>
    <div class="message">Не туда попали</div>
    <a href="index.hbs">
        <div class="link">Назад к чатам</div>
    </a>
</div>