{{!< main}}

<div class="error-page">
    <div class="number">500</div>
    <div class="message">Мы уже фиксим</div>
    <a href="index.hbs">
        <div class="link">Назад к чатам</div>
    </a>
</div>