{{!< main}}

<div class="profile-page">
    <div class="form log">
        <div class="head">
            <div class="name">Вход</div>
            <div class="inputs">
                <div class="tip">Логин</div>
                <div class="inner">ivanivanov</div>
                <div class="error">Неверный логин</div>
                <div class="tip">Пароль</div>
                <div class="inner">••••••••••••</div>
                <div class="error"></div>
            </div>
        </div>
        <div class="footer">
            <button class="btn">Авторизоваться</button>
            <div class="ask">Нет аккаунта?</div>
        </div>
    </div>
</div>