{{!< main}}

<a href="index.hbs">
    <div class="back-panel">
        <img 
            src="../../static/back-panel.svg"
        >
    </div>
</a>

<div class="popup-background hide-popup">
    <div class="popup-changer">
        <div>Загрузите файл</div>
        <a href="">Выбрать файл на компьютере</a>
        <button class="btn">Поменять</button>
    </div>
</div>

<div class="profile-page">
    <div class="form">
        <div class="content">
            <div class="avatar">
                <img src="../../static/memoji.png">
            </div>
            <div class="name">Игорь</div>

            <div class="inputs">
                <div class="field">
                    <div class="tip">Почта</div>
                    <div class="inner">ivan@ya.ru"</div>
                </div>
                <div class="field">
                    <div class="tip">Логин</div>
                    <div class="inner">ivanivanov</div>
                </div>                
                <div class="field">
                    <div class="tip">Имя</div>
                    <div class="inner">Иван</div>
                </div>                
                <div class="field">
                    <div class="tip">Фамилия</div>
                    <div class="inner">Иванов</div>
                </div>                
                <div class="field">
                    <div class="tip">Имя в чате</div>
                    <div class="inner">Черный властелин</div>
                </div>                          
                <div class="field">
                    <div class="tip">Телефон</div>
                    <div class="inner">+7 (999) 000-11-22</div>
                </div>
            </div>
            
            <button class="btn">Сохранить</button>
        </div>
    </div>
</div>
