.profile-page {
    .avatar {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        margin-bottom: 21px;
        background-color: var(--dark-brown);
    }

    .inputs {
        width: 100%;

        .field {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--light-grey);
            box-shadow: none;
            padding-bottom: 8px;
            margin-bottom: 10px;

            .tip {
                font-size: 14px;
                width: 50%;
            }
            
            .inner {
                outline: none;
                display: block;
                width: 100%;
                border: 0px;
                font-size: 14px;
                box-sizing: border-box;
                background: var(--dark-brown);
                color: var(--light-grey);
                text-align: right;
            }

            input:not(:focus):not(:placeholder-shown):invalid {
                color: var(--error);
            }
        }

        margin-bottom: 60px;

    }
}
