<div>
    <div class="profile">
        <span class="label">Профиль</span>
        <img
            {{!-- src="./arrow-right.svg" --}}
            id="arrow-right"
            class="icon"
        >
        </div>
    <div class="chat-search">
        <img
            {{!-- src="./search.svg" --}}
            id="search"
            class="icon"
        >
        <div class="label" placeholder="Поиск" contenteditable="true"></div>
    </div>
</div>
