<div class="profile">
    <a href="profile.hbs">
        <span class="label">Профиль</span>
    </a>
        <img
            class="icon"
            src="../../static/arrow-right.svg"
        >
    </div>
<div class="chat-search">
    <img
        class="icon"
        src="../../static/search.svg"
    >
    <div class="label" placeholder="Поиск" contenteditable="true"></div>
</div>
