.chat-search {
    background: #495057;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 14px;
        height: 14px;
        margin-right: 4px;
        margin-left: 4px;
    }

    #search {
        content: url("../../static/search.svg");
    }

    .label {
        color: #E5E5E5;
        font-size: 12px;
    }
    
    .label[placeholder]:empty:before {
        content: attr(placeholder);
        color: #E5E5E5;
    }
}


.profile {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 10px;
    margin-bottom: 21px;
    margin-top: 21px;

    .label {
        font-size: 12px;
        color: #999999;
    }
    
    .icon {
        height: 10px;
        margin-left: 8px;
    }

    #arrow-right {
        content: url("../../static/arrow-right.svg");
    }

}
