<div class="profile">
    <span class="profile-label">Профиль</span>
    <img
        class="icon-profile"
        src="../../static/arrow-right.svg"
    >
</div>
<div class="chat-search">
    <img
        class="icon-search"
        src="../../static/search.svg"
    >
    <div class="chat-search-label" placeholder="Поиск" contenteditable="true"></div>
</div>