<div>
    <div class="profile">
        <span class="label">Профиль</span>
        <img
            class="icon"
            src="./arrow-right.svg"
        >
        </div>
    <div class="chat-search">
        <img
            class="icon"
            src="./search.svg"
        >
        <div class="label" placeholder="Поиск" contenteditable="true"></div>
    </div>
</div>
