<div class="import"><img src="../../static/import.svg"></div>
<div class="message-input">
    <div class="message-input-text">Сообщение</div>
</div>
<div class="message-send"><img src="../../static/send-message.svg"></div>