<ul class="message-actions">
    <li class="item">
        <img
            class="icon"
            src="{{ addImage }}"
        >
        <div>Фото или Видео</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="{{ addFile }}"
        >
        <div>Файл</div>
    </li>
    <li class="item">
        <img
            class="icon"
            src="{{ addLocation }}"
        >
        <div>Локация</div>
    </li>
</ul>
