<div>
    <div class="profile">
        {{{ addChat }}}
        {{{ link }}}
        <img
            src="{{ arrowRight }}"
            class="icon"
        >
    </div>
    <div class="chat-search">
        <img
            src="{{ search }}"
            class="icon"
        >
        <input type="text" placeholder="Поиск" class="label"></div>
    </div>
</div>
