<div>
    <div class="profile">
        <span class="label">Профиль</span>
        <img
            src="{{ arrowRight }}"
            class="icon"
        >
        </div>
    <div class="chat-search">
        <img
            src="{{ search }}"
            class="icon"
        >
        <div class="label" placeholder="Поиск" contenteditable="true"></div>
    </div>
</div>
