<div class="messages-footer">
    <div class="import"><img src="{{ importIcon }}"></div>
    <div class="message-input">
        <div class="text">Сообщение</div>
    </div>
    <div class="message-send"><img src="{{ sendMessage }}"></div>
</div>
