.avatar-changer {

    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-bottom: 21px;
    background-color: var(--dark-brown);

    &:hover {
        background: var(--dark-blue);
        opacity: 0.3;
    }
}
